.p-button-closable {
  height: 0em !important;
  width: 0em !important;
  margin-left: 1em;
}

.p-tabview .p-tabview-nav-btn.p-link {
  background: #ffffff;
  color: #2196f3;
  width: 2.357rem;
  border-radius: 0;
}

.p-ink {
  pointer-events: none;
}

.p-tabview-nav-link {
  height: 39px;
}
