@import 'prismjs/themes/prism-coy.css';
@import './AppDemo.scss';
@import './AppCustom.scss';

body {
  max-height: '100vh';
  overflow-y: hidden;
  margin: 5px;
  font-family: 'poppins';
}

// correção de ausência de quebra de linha em datatable responsive/resizable
.p-datatable-resizable .p-datatable-thead > tr > th,
.p-datatable-resizable .p-datatable-tfoot > tr > td,
.p-datatable-resizable .p-datatable-tbody > tr > td {
  white-space: inherit !important;
}

.p-tooltip {
  position: absolute;
  padding: 0.25em 0.5rem;
  top: -9999px;
  left: -9999px;
}

.p-overlaypanel-content {
  .p-datatable-table {
    width: 100%;
  }
}

#notifications_panel {
  .p-overlaypanel-content {
    padding: 0;
  }
  .p-datatable-thead {
    display: none;
  }
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: rgba(#3f51b5, 0.12) !important;
  border-color: transparent;
  color: #3f51b5;
}

.p-tabview-title {
  font-size: medium;
}

.layout-main {
  transition: margin-right 0.5s;
  overflow-x: hidden;
}
