.p-toast-message-content {
  background: #fff;
  background-color: #fff;
}

.form-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 990;
  width: 100%;
  height: 4rem;
  margin-left: auto;
  margin-right: 0;
  background-color: #fff;
  padding-right: 10px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.form-actions-dialog {
  margin-left: auto;
  margin-right: 0;
}

.form-actions-termo-referencia {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 990;
  width: 100%;
  height: 4rem;
  margin-left: auto;
  margin-right: 0;
  background-color: #fff;
}

.p-datatable-loading-overlay {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.p-placeholde,
::placeholder {
  color: #97a3ad !important;
}

.card.page {
  margin: 28px;
  margin-top: 25px !important;
}

.card.page.form-action-buttons {
  margin: 28px;
  margin-bottom: 78px !important;
}

.form-tab-actions-buttons {
  margin: 28px;
  margin-bottom: 78px !important;
}

.layout-main {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

.checkbox-label {
  margin-bottom: 0em !important;
  margin-left: 0.5em;
}

.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-form-value {
  width: 100%;
}

@media (max-width: 1024px) {
  .sidebar-table {
    width: 90% !important;
  }
}

.center-align {
  align-self: auto;
  margin-left: auto !important;
  margin-right: auto !important;
}

.lote-div .p-datatable:not(:first-child) {
  margin-top: 3rem;
}

.lote-div .p-datatable-header {
  font-size: large;
}

.p-tooltip {
  pointer-events: none;
}

.scroll-menu {
  position: fixed;
  right: 28px;
  top: 20rem;
  z-index: 1100;
}
